<!-- templates/accounts/login.html -->
{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h2>登录</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form.as_p }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">登录</button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        没有账户？ <a class="ml-2" href="{% url 'accounts:register' %}">注册</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}